{% load form_tags widget_tweaks %}

{% for field in profile_form %}
  <div class="form-group">
  {% if field.label == 'Document' or field.label == 'Avatar' %}
    {{ field.label_tag }}
    {% render_field field class=field|input_class %} <!-- the input_class is coming from form_tags.py-->
	
    {% for error in field.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
    {% endfor %}

    {% if field.help_text %}
      <small class="form-text text-muted">
        {{ field.help_text|safe }} <!-- The "safe" is so that the help text is not displayed in raw html, read https://simpleisbetterthancomplex.com/series/2017/09/25/a-complete-beginners-guide-to-django-part-4.html-->
      </small>
    {% endif %}
   {% endif %}
	
  </div>
{% endfor %}